.vs/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp.csproj.user
Library/
Logs/
NodeCanvas.csproj
ParadoxNotion.csproj
Recordings/
Temp/
UnitySCMWorkspace.sln
UserSettings/
_Build/
ignore.conf
obj/
spine-csharp.csproj
spine-unity-editor.csproj
spine-unity-examples-editor.csproj
spine-unity-examples.csproj
spine-unity.csproj